.Dashboard {
    display: flex;
    justify-content: center;

    .card {
        width: 15em;
        min-height: 9em;
        padding: 2em;

        span {
            font-size: $subHeadingFontSize;
        }
    }
}