.modal {
  display: flex !important;
  place-content: center;
  width: 100%;

  .modal-dialog {
    max-width: 300px;

    .modal-content {
      .modal-header {
        border-bottom: none;
        .modal-title {
          font-size: $headingFontSize;
        }
      }

      .modal-footer {
        border-top: none;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.TitleAndCloseHeader {
  i {
    position: absolute;
    right: 20px;
    top: 20px;
    color: $secondaryText;
    font-size: 1.2em;
    cursor: pointer;
  }
}
