$body-bg: #f2f4f4;
$solidGrey: #d3d3d3;
$primary: #4cc2f0;
$secondary: #ffffff;
$primaryDark: #098dbb;
$seondaryDark: #1c538d;
$inActive: #a0a4a8;

/* Text */
$bodyTextColor: #727e8c;
$primaryText: #ffffff;
$secondaryText: #000000;
$headingTextColor: #475f7b;
$invalidText: #dc3545;
$linkText: #259af5;

/* Label */
$labelFontSize: 0.8em;

/* Border */
$borderColor: #dfe3e7;
$btnBorderRadius: 4px;
$inputBorderRadius: 4px;

/* Font sizes*/
$headingFontSize: 1.4em;
$subHeadingFontSize: 1em;
$inputFontSize: 0.9em;
$btnFontSize: 1em;
$mdFontSize: 0.9em;

/* Font weights*/
$boldFontWeight: 700;
